* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.fixed-bar {
    height: 80px;
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}

.menu {
    height: 80px;
    padding: 10px 0;
    line-height: 60px;
    font-size: 15px;
}

i {
    padding: 0 5px;
}

.lingua {
    float: left;
}

.line {
    padding: 0 10px;
    float: left;
}

.right {
    float: right;
}

.right i {
    color: #00a4bd;
}

.bt {
    padding: 10px;
    font-weight: bold;
    text-transform: none;
    border-radius: 5px;
}

.button-white {
    margin: 0 10px;
    color: #fe775a;
    background-color: white;
    border: 1px solid #fe775a;

}

.button-orange {
    color: white;
    background-color: #fe775a;
    border: 1px solid #fe775a;
}



/* HEADER */
.header-top {
    height: 80px;
    background-color: white;
}

.banner {
    height: 400px;
    background-color: #fff2ee;
}

/* HR */

/* SECTIONS */

.one {
    height: 800px;
    background-color: #f4f9fd;
}

.two {
    height: 400px;
    background-color: #52c0d6;
}

.three {
    height: 400px;
}

/* FOOTER */

footer {
    height: 500px;
    background-color: #32495b;
}
