* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.fixed-bar {
    width: 100%;
    /* height: 80px; */
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
    position: fixed;
}

.menu {
    /* height: 80px; */
    padding: 10px 0;
    line-height: 60px;
    font-size: 15px;
}

i {
    padding: 0 5px;
}

.lingua {
    float: left;
}

.right {
    float: right;
}

.right i {
    color: #00a4bd;
}

.bt {
    padding: 10px;
    font-weight: bold;
    text-transform: none;
    border-radius: 5px;
}

.button-white {
    margin: 0 10px;
    color: #fe775a;
    background-color: white;
    border: 1px solid #fe775a;
}

.button-orange {
    color: white;
    background-color: #fe775a;
    border: 1px solid #fe775a;
}

.contact {
    border-left: 1px solid black;
    padding-left: 10px;
}

/* HEADER */
.header-top {
    /* height: 80px; */
    padding: 92px 0 10px;
    line-height: 60px;
}

#logo img {
    height: 30px;
    vertical-align: middle;
}

#logo, nav {
    float: left;
}

.top-menu li {
    list-style: none;
    text-decoration: none;
    padding: 0 15px;
    float: left;
}

.top-menu a {
    font-size: 15px;
    color: #33475b;
    text-decoration: none;
}

.menu-right {
    float: right;
}

header {
    height: 600px;
    background-color: #fff2ee;
    background-image: url('file:///C:/Users/valen/Desktop/Boolean%20esercizi/htmlcss-hubspot/img/bg-jumbotron.png');
    background-repeat: no-repeat;
}

.banner {
    height: 600px;
}

.contained {
    width: 40%;
}

h1,h2,h3,h4 {
    color: #33475b;
}

h1 {
    width: 110%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.long-p {
    width: 110%;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 20px;
}

.bt-grande {
    padding: 20px 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.short-p {
    font-size: 11px;
}

#big-hr {
    height:90px;
    background-color:#afebe4;
    border-top:4px solid #6d939b;
    border-bottom:4px solid #6d939b;
    border-left:none;
    border-right:none;
}

/* SECTIONS */

.one {
    /* height: 800px; */
    background-color: #f4f9fd;
}

.top-section {
    /* height: 400px; */
    padding: 50px;
    text-align: center;
}

.logo2 img {
    height: 200px;
}

h2 {
    font-size: 35px;
}

.subtitle h2 {
    padding-bottom: 30px;
}

.subtitle p {
    font-size: 15px;
    line-height: 30px;
    margin: 0 100px;
    padding-bottom: 20px;
}

.box1 {
    /* height: 350px; */
    background-color: white;
	box-shadow: 0px 0px 3px 3px lightgrey;
	border-radius: 5px;
    margin-bottom: 20px;
    padding: 50px;
}

.box-left {
    width: 33.3333%;
    float: left;
    text-align: center;
}

.box-img {
    height: 100px;
    margin: 10px 0px;
    text-align: center;
    vertical-align: middle;
}

.box-right {
    width: 66.6666%;
    float: left;
}

h3 {
    font-size: 25px;
}

.box-right h3 {
    margin: 20px 0;
}

p {
    font-size: 13.5px;
    line-height: 30px;
}

h4 {
    text-transform: uppercase;
    display: inline-block;
    margin: 15px 30px 15px 0;
}

#box-hr {
    width: 62%;
    display: inline-block;
    vertical-align: middle;
}

.freehub li {
    float: left;
    font-size: 14px;
    line-height: 30px;
    text-transform: capitalize;
    list-style: none;
    padding: 0;
    margin-right: 10px;
}

.freehub i {
    padding-right: 10px;
    color: #fe775a;
}

.box-card {
    width: 30%;
    /* height: 350px; */
    float: left;
    text-align: center;
    background-color: white;
    margin: 50px 0;
    box-shadow: 0px 0px 5px 5px lightgrey;
    border-radius: 5px;
    padding: 15px 30px;
    margin-right: 5%;
}

.box-card:last-child {
    margin-right: 0;
}

.box-card h3 {
    margin: 20px 0;
    line-height: 30px;
}

.box-card hr {
    margin: 30px auto;
}

.box-card h4 {
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
    float: none;
}

.box-card li {
    font-size: 14px;
    float: left;
    list-style: none;
    text-decoration: none;
    padding: 0 15px;
}

.box-card i {
    color: #fe775a;
}

.box-card button {
    margin-top: 50px;
}

.two {
    /* height: 700px; */
    background-color: #00ABB5;
    background-image: linear-gradient(to right, #00ABB5 , #00BCA5);
}

.two h2, h6 {
    color: white;
}

.two h2 {
    padding-top: 50px;
    text-align: center;
}

.two p {
    color: white;
    padding-top: 30px;
    text-align: center;
}

.table {
	height: 500px;
    text-align: center;
}

.row {
    margin: 50px 250px;
}

.card {
    width: 25%;
    height: 200px;
    background-color: inherit;
    float: left;
    border-right: 1px solid white;
}

.bt-borderbottom {
    border-bottom: 1px solid white;
}

.card:nth-child(4n) {
  border-right: none;
}

.table img {
    margin-top: 25px;
    vertical-align: middle;
}

.card h2 {
    font-size: 40px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.card i {
    text-align: left;
    position: absolute;
    top: 40%;
}

.card h6 {
    font-size: 12px;
}

.card8 h2 {
    padding-top: 30px;
}

.three {
    /* height: 700px; */
}

.up-section {
    /* height: 300px; */
    margin: 60px 0;
}

.customers {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 0 70px 0 60px;
}

.customers h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.customers p {
    text-align: left;
}

.brands {
    width: 66.6666%;
    float: right;
}

.brands img {
    width: 150px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.down-section {
    height: 450px;
}

.left {
    width: 40%;
    padding-top: 40px;
    float: left;
}

.left-long-p {
    padding: 30px 0;
    line-height: 25px;
}

.left-short-p {
    font-size: 11px;
    padding: 0;
}

.right-img {
    float: right;
}

.right-img img {
    margin-bottom: 50px;
}

/* FOOTER */

footer {
    /* height: 600px; */
    background-color: #32495b;
}

.up-footer {
    padding-top: 40px;
    /* height: 300px; */
    color: white;
}

.nav-up-footer {
    padding-right: 68px;
    float: left;
}

.nav-up-footer:last-child {
    padding-right: 0px;
}

.nav-up-footer  p {
    padding-bottom: 10px;
    font-size: 15px;
}

.nav-up-footer li {
    list-style: none;
    padding: 10px 0;
}

.nav-up-footer a,
.down-footer a,
.copy-right a {
    color: #dadee0;
    font-size: 13px;
    text-decoration: none;
}

.bt-gray {
    font-weight: normal;
    margin: 20px 0;
    color: #415767;
    background-color: #dadee0;
}

.nav-up-footer i {
    padding-right: 15px;
    color: #dadee0;
}

.down-footer {
    /* height: 200px; */
    text-align: center;
    margin: 60px auto 20px;
}

.down-footer ul {
    margin: 0 220px;
}

.down-footer li {
    padding: 15px;
    float: left;
}

.copyright {
    color: #dadee0;
}

.copyright {
    padding: 30px 0;
}

.copy-left {
    width: 80%;
    padding: right: 0;
    float: left;
}

.copy-right ul {
    margin-left: 620px;
}

.copy-right li {
    float: left;
    list-style: none;
    padding-right: 10px;
}
